{% extends 'base.html' %}

{% block content %}
  <div class="content">
    <div class="limiter">
      <form class="login" method="POST">
        {% csrf_token %}
        <p>
          <label>Введите логин</label><br>
          <input type="text" name="login" value="">
        </p>
        <p>
          <label>Введите пароль</label>
          <input type="text" name="password" value="">
        </p>
        <input type="submit" name="" value="Войти">
      </form>
    </div>
  </div>
{% endblock %}
