{% extends 'base.html' %}

{% block content %}
<div class="container-xxl">
    <div class="header">
        <h1>Project Map</h1>
        {% if current_user %}
        <a href="logout/">Выйти</a>
        {% endif %}
    </div>
    {% if current_user == None %}
        <form class="login" method="POST">
            {% csrf_token %}
            <p>
              <label>Введите логин</label><br>
              <input type="text" name="login" value="">
            </p>
            <p>
              <label>Введите пароль</label><br>
              <input type="text" name="password" value="">
            </p>
            <input type="submit" name="" value="Войти">
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="register/">Регистрация</a>
    {% endif %}

    {% if current_user %}
        {% if current_user.get_role != "manager" %}
        <h3>Задачи на вас</h3>
        <table>
            <thead>
            <th>Задание</th>
            <th>Проект</th>
            <th>Статус</th>
            <th>Оценка в story point</th>
            </thead>
            {% for task in tasks %}
                {% if task.executor_id == current_user.id %}
                <tr>
                    <td>{{ task.title }}</td>
                    {% for project in projects %}
                        {% if task.project_id == project.id  %}
                            <td>{{ project.title }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ task.status }}</td>
                    <td>{{ task.story_point }}</td>
                </tr>
                {% endif %}

            {% endfor %}
        </table>

        <h3>Задачи для ревью</h3>
        <table>
            <thead>
            <th>Задание</th>
            <th>Проект</th>
            <th>Статус</th>
            <th>Оценка в story point</th>
            </thead>
            {% for task in tasks %}
                {% if task.reviewer_id == current_user.id %}
                <tr>
                <td>{{ task.title }}</td>
                {% for project in projects %}
                    {% if task.project_id == project.id  %}
                        <td>{{ project.title }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ task.status }}</td>
                <td>{{ task.story_point }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}

        {% if current_user.get_role == "project_leader" %}
        <h3>Ваши проекты</h3>
        <table>
            <thead>
            <th>Название</th>
            <th>Статус</th>
            </thead>
            {% for project in projects %}
                {% if project.leader_id == current_user.id %}
                <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.status }}</td>
                <th><a href="project/{{ project.id }}">Перейти к проекту</a></th>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}

        {% if current_user.get_role == "manager"%}
        <h3>Проекты</h3>
            {% if current_user.get_role == "manager" %}
                <a href="add_project">Создать новый проект</a>
            {% endif %}
        <table>
            <thead>
            <th>Название</th>
            <th>Статус</th>
            <th>Глава</th>
            </thead>
            {% for project in projects %}
                <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.status }}</td>
                {% for user in users %}
                    {% if project.leader_id == user.id %}
                    <td>{{ user.last_name }} {{ user.first_name }}</td>
                    {% endif %}
                {% endfor %}
                <th><a href="project/{{ project.id }}">Перейти к проекту</a></th>
                </tr>
            {% endfor %}
        </table>
        <div class="sprint">
            <p>Текущий спринт</p>
            {% if not sprint %}
                <p>Спринт не объявен</p>
            {% else %}
            <p>{{ sprint.date_of_start.date }} - {{ sprint.date_of_end.date }}</p>
            {% endif %}
            <p>Объявить спринт</p>
            <form class="sprint_form" method="post">
                {% csrf_token %}
                <p>
                    <label>Дата начала спринта</label><br>
                    <input type="date" name="start" required>
                </p>
                <p>
                    <label>Количество дней в спринте</label><br>
                    <input type="number" name="days" required>
                </p>
                <input type="submit" name="" value="Объявить новый спринт">
            </form>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}