{% extends 'base.html' %}

{% block content %}
    <div class="header">
        <h1>Project Map</h1>
        {% if current_user %}
        <a href="logout/">Выйти</a>
        {% endif %}
    </div>
    <div class="limiter">
    {% if current_user == None %}
        <form class="login" method="POST">
            {% csrf_token %}
            <p>
              <label>Введите логин</label><br>
              <input type="text" name="login" value="">
            </p>
            <p>
              <label>Введите пароль</label><br>
              <input type="text" name="password" value="">
            </p>
            <input type="submit" name="" value="Войти">
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="register/">Регистрация</a>
    {% endif %}

    {% if current_user %}
        {% if current_user.get_role != "manager" %}
        <h3>Задачи на вас</h3>
        <table>
            <thead>
            <th>Задание</th>
            <th>Проект</th>
            <th>Статус</th>
            <th>Оценка в story point</th>
            </thead>
            {% for task in tasks %}
            <td>{{ task.title }}</td>
            {% for project in projects %}
                {% if task.project_id == project.id  %}
                <td>{{ project.title }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ task.status }}</td>
            <td>{{ task.story_point }}</td>
            {% endfor %}
        </table>
        {% endif %}

        {% if current_user.get_role == "project_leader" %}
        <h3>Ваши проекты</h3>
        <table>
            <thead>
            <th>Название</th>
            <th>Статус</th>
            </thead>
            {% for project in projects %}
                {% if project.leader_id == current_user.id %}
                <td>{{ project.title }}</td>
                <td>{{ project.status }}</td>
                <th><a href="project/{{ project.id }}">Перейти к проекту</a></th>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}

        {% if current_user.get_role == "manager"%}
        <h3>Проекты</h3>
            {% if current_user.get_role == "manager" %}
                <a href="add_project">Создать новый проект</a>
            {% endif %}
        <table>
            <thead>
            <th>Название</th>
            <th>Статус</th>
            <th>Глава</th>
            </thead>
            {% for project in projects %}
                <td>{{ project.title }}</td>
                <td>{{ project.status }}</td>
                {% for user in users %}
                    {% if project.leader_id == user.id %}
                    <td>{{ user.last_name }} {{ user.first_name }}</td>
                    {% endif %}
                {% endfor %}
                <th><a href="project/{{ project.id }}">Перейти к проекту</a></th>
            {% endfor %}
        </table>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}