{% extends 'base.html' %}

{% block content %}
  <div class="content">
    <div class="limiter">
      <form class="register" method="POST">
        {% csrf_token %}
        <p>
          <label></label>
          <input type="image" name="icon" >
        </p>
        <p>
          <label>Фамилия</label><br>
          <input type="text" name="last_name">
        </p>
        <p>
          <label>Имя</label><br>
          <input type="text" name="first_name">
        </p>
        <p>
          <label>Отчество (если имеется)</label><br>
          <input type="text" name="middle_name">
        </p>
        <p>
          <label>Email</label><br>
          <input type="text" name="email">
        </p>
        <p>
          <label>Введите логин</label><br>
          <input type="text" name="login">
        </p>
        <p>
          <label>Введите пароль</label>
          <input type="text" name="password">
        </p>
        <input type="submit" name="" value="Сохранить">
      </form>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              {{ message }} | <a href="/">Войти</a>
            </li>
            {% endfor %}
        </ul>
      {% endif %}
    </div>
    <a href="/">Отмена</a>
  </div>
{% endblock %}
